# Django
*.pyc
__pycache__/
migrations
*.db.sqlite3
*.log
*.pot
*.egg-info/
celerybeat-schedule
**/db.sqlite3
media/
staticfiles/
local_settings.py

# Virtual Environment
.venv/
.env

# Node.js / React
node_modules/
**/npm-debug.log
**/yarn-error.log
**/package.json
**/package-lock.json
yarn.lock

# Visual Studio Code
**/.vscode/

# Mac OS system files
.DS_Store

# Compiled Python files
*.pyc

# IDE and Editor specific files
.idea/
*.sublime-project
*.sublime-workspace
*.suo
*.ntvs_analysis.dat
*.njsproj
*.sln
*.sw?

# Backup files
*~

# Testing
/coverage/

# Log files
/logs/

# Environment variables
.env.local
.env.development
.env.test
.env.production

# Compiled files
*.class

# Temporary files
*.tmp

# Database backups
*.backup
*.dump
*.sql