body{
    font-family: 'Hind Guntur', sans-serif;
    color: #054231;
    display: flex;
    justify-content: center;
  }
  
  form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  input[type="file"] {
    display: none;
  }
  
  .custom-file-upload {
    border-radius: 50%;
    position: relative;
    display: inline-block;
    padding: 0.5em;
    cursor: pointer;
    background: linear-gradient(270deg, #440c5a, #0912b7);
    margin-bottom: 2em;
  }
  
  .img-wrap{
    position: relative;
    width: 10em;
    height: 10em;
    overflow: hidden;
    border-radius: 50%;
  }
  .img-upload:hover:before{
   opacity: 1;
  }
  img {
    width: auto;
    height: 100%;
  }

  input:focus{
    outline: none;
    border: 0.05em solid #1f11bb;
  }
  button{
    position: relative;
    color: #054231;
    letter-spacing: 0.05em;
    margin: 1em;
    font-size: 1em;
    padding: 0.5em;
    text-align: center;
    transition: 0.5s;
    border-radius: 0.5em;
    cursor: pointer;
    border-radius: 1.5em;
    border: none;
    background: #2e14d5;
  }
  .save{
    font-weight: 600;
    left: -1em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    width: 1em;
    box-shadow: 1em 0em 2em 0em  #2912bd;
  }
  .edit{
    color: #fff;
    width: 8em;
  }
  button:hover{
    left: 0;
    color: #fff;
    width: 8em;
  }
  button:focus{
    outline: none;
  }

  @media screen and (min-width: 50em)  {

  }

  