.subject-list {
    display: inline-flexbox;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  
  /* .subject-item {
    width: calc(33.33% - 10px);
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  } */
  
  .subject-item h3 {
    margin-top: 0;
  }
  
  .subject-item p {
    margin-bottom: 0;
  }
  
  .subject-item button {
    margin-top: 10px;
  }