.background {
    background-color: #2B3E4F;
    color: #5e7cb9;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form {
    text-align: center;
  }
  
  .label {
    display: block;
    margin: 10px 0;
    
  }
  
  .input {
    margin-left: 20px;
    border-radius:10px;
    border: 2px solid #2B3E4F;
    padding: 8px;
    transition: all 0.3s ease-in-out;
  }
  
  .input:focus {
    outline: none;
    border-color: #007BFF;
    box-shadow: 0 0 5px #007BFF;
  }
  
  .input::placeholder {
    color: #777;
    font-style: italic;
  }
  
  
  .input_box{
    width: 200px;
    height: 15px;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .landinglogo {
  width: 200px;
  height: 100px;
  }