:root {
  --background-color: #2B3947;
}

.signup-style {
  background-color: var(--background-color);
  color: white;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  display: none;
}

.signup-style .form {
  text-align: center;
  margin-left: 0;
  margin-right: 0;
}

.signup-style .label {
  display: flex;
  margin: 10px 0;
  justify-content: space-between;
  padding: 0 400px;
}

.signup-style .input {
  margin-left: 3em;
  border-radius:10px;
  border: 2px solid #2B3E4F;
  padding: 8px;
  transition: all 0.3s ease-in-out;
}

.signup-style .input:focus {
  outline: none;
  border-color: #007BFF;
  box-shadow: 0 0 5px #007BFF;
}

.signup-style .input::placeholder {
  color: #777;
  font-style: italic;
}

.signup-style .input_box{
  width: 200px;
  height: 15px;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
  right: 0;
  order: 2;
}

.signup-style .file-input {
  margin-left: 1em;
}

.signup-style .inline-question {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.signup-style .small-text {
  font-size: 1em;
}

.signup-style .medium-text {
  font-size: 1.2em;
}

.signup-style a {
  color: #EEE1B3;
  margin-left: 0.5em;
}

.signup-style .landing-logo {
  width: 15em;
  margin-left: 3vw;
  height: auto;
  margin-bottom: 0;
  margin-top: 0;
}

.signup-style .landing-button {
  width: 50vw;
  height: auto;
  background: #001f51;
  font-size: 1.6rem;
  font-weight: 200;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  border: 1px solid #DEFFFC;
  border-radius: 0.2em;
  color: #EEE1B3;
}

.signup-style a {
  color: #EEE1B3;
  font-size: 1.2em;
}

@media screen and (min-width: 50em)  {
    .landing-logo {
        width: 32em;
        height: auto;
    }

    .landing-button {
        width: 40rem;
        height: auto;
        margin-top: 1em;
        margin-bottom: 1em;
    }
}